#bonsai-page {
  color: #4c4d5f;
}

#bonsai-page .accordion-header {
  display: flex;
}

#bonsai-page .accordion-header:hover,
#bonsai-page #main-footer a:hover {
  color: rgb(13, 13, 20);
}

#bonsai-page .accordion-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
  padding: 10px 0;
  text-wrap: wrap;
}

#bonsai-page #footer-center {
  text-wrap: nowrap;
  width: 30%;
}

#bonsai-page #footer-left,
#bonsai-page #footer-right {
  text-wrap: nowrap;
  width: 25%;
}

#bonsai-page .footer-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#bonsai-page .footer-content-block {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 10px;
  padding: 10px 0;
}

#bonsai-page .footer-heading {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 40px;
  text-transform: uppercase;
}

#bonsai-page .footer-subheading {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
}

#bonsai-page .hidden {
  display: none;
}

#bonsai-page h1 {
  font-family: serif;
  font-size: 40px;
  font-weight: bold;
}

#bonsai-page .inactive-pricing {
  opacity: 0.65;
}

/* #bonsai-page input:checked + .slider {
  background-color: #2196f3;
} */

/* #bonsai-page input:focus + .slider {
  outline: 2px solid black;
} */

#bonsai-page input:checked + .slider:before {
  /* -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); */
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

#bonsai-page main {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 110px 0 40px;
}

#bonsai-page #main-footer {
  display: flex;
  justify-content: space-between;
  padding: 100px 16% 96px;
  width: 100%;
}

#bonsai-page #main-footer a {
  color: inherit;
  text-decoration: none;
}

#bonsai-page #main-header {
  align-items: flex-end;
  display: flex;
  gap: 80px;
  justify-content: center;
  padding-bottom: 13px;
}

#bonsai-page #main-slider {
  align-items: center;
  display: flex;
  font-weight: bold;
  gap: 30px;
  height: fit-content;
  justify-content: center;
  text-transform: uppercase;
}

/* The slider (the background of the switch) */
#bonsai-page .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00b289;
  /* border-radius: 34px; */
  border-radius: 29px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/* The button of the switch */
#bonsai-page .slider:before {
  position: absolute;
  content: '';
  /* height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px; */
  height: 25px;
  width: 25px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#bonsai-page svg {
  cursor: pointer;
}

/* The switch (the box around the slider) */
#bonsai-page .switch {
  position: relative;
  display: inline-block;
  /* width: 60px;
  height: 34px; */
  width: 54px;
  height: 29px;
}

/* Hide default HTML checkbox */
#bonsai-page .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
